<h3>{{#each letters}}{{this}}, {{/each}}</h3>
{{#each products}}
    <div class="product">
        <span style="color:red">{{name}}</span>
        <h2>{{category}}</h2>
        <span style="color:blue">{{priceConvert price}}</span>
    </div>
{{/each}}

