<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Oliwier Angielski 4IB">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script defer src="js/script.js"></script>
    <title>Oliwier Angielski 4IB</title>
</head>
<body>
    <h1>T: MVC - Model, View, Controller</h1>
    <div>
        <select id="animalSelect" class="selectInput" multiple>
            <option value="kot" class="optionInput">kot</option>
            <option value="pies" class="optionInput">pies</option>
            <option value="krowa" class="optionInput">krowa</option>
        </select>
        <select id="colorSelect" class="selectInput" multiple>
            <option value="white" class="optionInput">white</option>
            <option value="black" class="optionInput">black</option>
            <option value="yellow" class="optionInput">yellow</option>
        </select>
        <select id="resultsSelect" class="selectInput" multiple></select>
    </div>
    <div class="buttonsContainer">
        <button id="addOneBtn" class="button">add one</button>
        <button id="getAllBtn" class="button">get all</button>
        <button id="delSelBtn" class="button">delete selected</button>
        <button id="updSelBtn" class="button">update selected</button>
    </div>
</body>
</html>