<h1>Strona produktów</h1>
<div><button id="changeStyle">LISTA / TABELA</button></div>
{{#each products}}
    <div class="product product-block">
        <div class="redTitle">{{title}}</div>
        <div><h1>{{stars}}</h1></div>
    </div>
{{/each}}