*{
    box-sizing: border-box;
}


body{
    font-family: Consolas,monospace
}

h1{
    color: red;
}

.textForm{
    width: 300px;
    height: 300px;
    background-color: blue;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textFormTitle{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.textInput{
    font-size: 20px;
    padding: 5px;
    color: blue;
    font-weight: bold;
}

.button{
    display: block;
    color: blue;
    font-size: 25px;
    margin: 10px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
}

.textFormInfo{
    font-size: 20px;
    font-weight: bold;
}

.textFormInfoLabel{
    color: #fff906;
}

.myFormList{
    display: flex;
    flex-direction: row;
}

.myForm{
    background-color: blue;
    width: 40%;
    margin: 10px;
    padding: 15px;
}

.myFormTitle{
    color: black;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
}

.myFormSend{
    color: black;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

.mySelect{
    border: 5px solid white;
    margin: 0px 20px 10px 20px
}

.mySelectTitle{
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.mySelectSelect{
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    color: blue;
}

.mySelectChoices{
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 30px;
}

.myCheckBox{
    width: 97%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 10px;
}

.myCheckBoxActiv{
    background-color: black;
    color: white;
}

.checkbox{
    width: 25px;
    height: 25px;
}

.label{
    font-weight: bold;
    font-size: 20px;
}

.myCheckboxTitle{
    font-weight: bold;
    font-size: 20px;
}

.myFormSum{
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 15px;
}

.myForm2{
    min-width: 240px;
    width: fit-content;
    background-color: #2d2d2d;
    color: white;
}

.myForm2Title{
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
}
.myRadiosContainer{
    display: flex;
    flex-direction: row;
}
.myRadios{
    width: 220px;
    height: 350px;
    background-color: blue;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radioInput{
    transform: scale(1.3);
}

.myRadiosTitle{
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
}

.myRadiosId{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;
}

.myRadiosChoice{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
}

.myRadiosImage{
    width: 100px;
    height: 100px;
    background-size:cover;
}

.radiosContainer{
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.timerList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.timer{
    width: 200px;
    height: 200px;
    background-color: darkblue;
    color: white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border: 7px solid #eceaeefc;
}

.timerDisplay{
    font-size: 35px;
    font-weight: bold;
    padding-top: 50px;
}

.timerBtn{
    background-color: #f2f3e8;
    color: darkblue;
    font-size: 20px;
    width: 70px;
    border: none;
}

.commentsApp{
    max-width: 900px;
    background-color: #666666;
    padding: 20px;
    border-radius: 10px;
}

.commentsList{
    background-color: #e4e4e4;
    padding: 5px;
    border-radius: 10px;
}

.commentsList:not(:last-child){
    margin-bottom: 10px;
}

.commentsListTitle{
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.sectionHolder{
    background-color: #666666;
    border-radius: 10px;
    margin: 10px;
}

.sectionHolder:nth-child(2n){
    padding: 20px;
}
.sectionHolder:nth-child(2n -1){
    padding-top: 15px;
}

.commentsForm{
    text-align: center;
}

.commentsTextarea{
    width: 90%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    border: none;
    display: block;
    color: #94cb2ded;
    font-size: 20px;
    font-weight: bold;
}

.commentsTextarea:active{
    background-color: #94cb2ded;
}

.commentsBtn{
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 20px;
    cursor: pointer;
}

.commentsInfo{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: white;
}

.commentsInfoHighlight{
    color: #94cb2ded;
}

.commentsInfo:not(:last-child){
    margin-bottom: 20px;
}

.commentsData{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: white;
}

.comment{
    background-color: #a2a2a2;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}