<h2 class="startingHeader">cookie authentication</h2>
<div class="pageBtnsHolder">
    <a href="/register" class="pageBtn">REGISTER</a>
    <a href="/filemanager" class="pageBtn">FILEMANAGER</a>
</div>
<div class="startingFormContainer">
    <form method="post" action="/login">
        <div><input type="text" name="name" placeholder="Enter name" class="startingFormInput" required></div>
        <div><input type="password" name="password" placeholder="Enter pass" class="startingFormInput" required></div>
        <div><input type="submit" value="LogIn" class="startingFormInput"></div>
    </form>
    <h1 class="startingPageNameTitle">login page</h1>
</div>