<h2 class="startingHeader">cookie authentication</h2>
<div class="pageBtnsHolder">
    <a href="/login" class="pageBtn">LOGIN</a>
    <a href="/filemanager" class="pageBtn">FILEMANAGER</a>
</div>
<div class="startingFormContainer">
    <form method="post" action="/register">
        <div><input type="text" name="name" placeholder="Enter name" class="startingFormInput" required></div>
        <div><input type="password" name="password" placeholder="Enter pass" class="startingFormInput" required></div>
        <div><input type="password" name="repassword" placeholder="Confirm pass" class="startingFormInput" required></div>
        <div><input type="submit" value="Register" class="startingFormInput"></div>
    </form>
    <h1 class="startingPageNameTitle">register page</h1>
</div>