<div class="weatherInfo">
    <h3 class="weatherDesc">{{header}}</h3>
    <table class="weatherTable">
        <thead>
            <tr>
                <th class="weatherTableHead">miasto</th>
                <th class="weatherTableHead">pogoda</th>
                <th class="weatherTableHead">temperatura</th>
                <th class="weatherTableHead" colspan="2">smog</th>
                <th class="weatherTableHead">szczegóły</th>
            </tr>
        </thead>
        <tbody>